<h1 class="title">Welcome to Safari Care Facilities</h1>
<h2 class="heading">This is where we join forces with the rangers to take care of the creatures in our parks</h2>
<h3>To sav these creatures click the button down below and fill in the details of the animal that youve seen <br> <b>N/B</b>the animals can be ill or healthy just give us the details we got the animal covered<i class="em em-smile"></i></h3>

<a href="/animals"> <button type="button" class="btn btn-primary btn-block" >Button 1</button></a>
